<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2019-03-10-firstpost.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>573916697.83067596</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-10-爬虫1.md</key>
			<dict>
				<key>lastModification</key>
				<real>573923189.54081094</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2019-03-10-爬虫2.md</key>
			<dict>
				<key>lastModification</key>
				<real>573923189.54081595</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2019-03-11-LeetCode127周赛总结.md</key>
			<dict>
				<key>lastModification</key>
				<real>574007953.11150396</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2019-03-11-野人过河问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>574010702.02582395</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2019-03-12-目标和.md</key>
			<dict>
				<key>lastModification</key>
				<real>574066060.68063295</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2019-03-15-深度优先搜索.md</key>
			<dict>
				<key>lastModification</key>
				<real>574349406.58746099</real>
				<key>version</key>
				<dict>
					<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
					<integer>29</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>574349418.16570699</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2019-03-12-目标和.md</string>
		</array>
		<array>
			<string>2019-03-15-深度优先搜索.md</string>
		</array>
		<array>
			<string>2019-03-10-firstpost.markdown</string>
		</array>
		<array>
			<string>2019-03-10-爬虫1.md</string>
		</array>
		<array>
			<string>2019-03-10-爬虫2.md</string>
		</array>
		<array>
			<string>2019-03-11-LeetCode127周赛总结.md</string>
		</array>
		<array>
			<string>2019-03-11-野人过河问题.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
			<integer>30</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>f81254026aafb2296f2722368c8350ab2c42e95ebc8cfd8a9c3a22c8b348c03f</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
